<style>
    body {
      background-color: #b1d0eb; /* 淡蓝色背景 */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }
  
    button {
      background-color: #4a99ed; /* 蓝色字体背景 */
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }

    .back button a{
      background-color: #4a99ed; /* 蓝色字体背景 */
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
  
<div id="msg1"><button>{{msg1}}</button></div>
<div id="msg2"><button>{{msg2}}</button></div>
<a href="/info"><div class="back"><button>返回主页</a></div></button></a>